flask == 2.0.0
flask_sqlalchemy
flask_admin == 1.5.8
loguru == 0.5.3
flask_wtf == 0.15.1
flask_bootstrap == 3.3.7.1
flask-migrate == 3.0.1
flask-login == 0.5.0
requests == 2.25.1
wheel == 0.36.2
waitress == 2.0.0